<head>
  <script type="text/javascript" src="https://www.gstatic.com/cv/js/sender/v1/cast_sender.js"></script>
</head>

<body style="background-color:transparent">

<!--button class="button" onclick="btnAction()">Cast</button-->
<script src="//www.gstatic.com/cv/js/sender/v1/cast_sender.js?loadCastFramework=1"></script>


<button is="google-cast-button" id="cast-button" style="--connected-color:purple; --disconnected-color:red" (click)="buttonAction()">
  <img src="../../../assets/cast_logo.png" width="25" height="20" />
</button>

<!--table [style.backgroundColor]="backgroundcolor" [style.td.color]="textcolor" [style.width]="screenwidth"-->
<table #screen [style.backgroundColor]="backgroundcolor" [style.color]="textcolor" [style.width]="screenwidth" [style.height]="screenheight">

  <div *ngIf="screentype=='menu'; else elseBlock">
    <tr>
      <th>Product</th>
      <th>Unit Price</th>
      <th>Price</th>
    </tr>
  <ng-container *ngFor="let dta of itemsforthisscreen">
  <tr>
    <td>{{dta.productName}}</td>
    <td>{{dta.tags}}</td>
    <td>{{dta.category}}</td>
    <!--td>{{tablestyle.bgcolor}}</td-->
  </tr>
  </ng-container>
  </div>
  <ng-template #elseBlock>
    <div style="text-align: center;">
     <img src="https://picsum.photos/200/250?grayscale" width="imagewidth" />
    </div>
  </ng-template>

</table>

</body>

